<html>
  <head>
    <title>Potin</title>
  </head>
  <body>
    <p>Voici la page du potin numéro <%= params['id'] %> </p><br>
    <p>Son auteur : <%= gossips.author %></p>
    <p>Le contenu du potin : <%= gossips.content %></p><br>
    <p>Pour revenir à la page des potins, clique <a href="/">ici</a></p>
  </body>
</html>